doctype
html(lang="en")
    include ../includes/_head
    body

        include ../includes/_navbar
        
        block main
            h1 Hello World 

        include ../includes/_footer

        script(src="https://kit.fontawesome.com/bbfd935f8f.js" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js")
        script(src='https://vjs.zencdn.net/7.5.5/video.js')
        script(src='https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js')
        script(src="https://unpkg.com/@silvermine/videojs-quality-selector/dist/js/silvermine-videojs-quality-selector.min.js")
        script(src="../js/index.js")