- const hello = ["Hello", "world", "ha ha"];
- const data = [{name: "Mohit", content: "this is it"}, {name: "Mohit", content: "this is it"}, {name: "Mohit", content: "this is it"}, {name: "Mohit", content: "this is it"}, {name: "Shubham", content: "this is not done"}, {name: "Shivam", content: "this is done but not as we think"}]

//- - for (var i= 0; i<data.length; i++)
//-     +galleryBox(data[i].name, data[i].content)

div.center
    div.glider-contain
        div.glider
            each n in [1, 2, 3, 4, 5, 6, 7]
                div
                    p= n
        button(role="button" aria-label="Previous" class="glider-prev") «
        button(role="button" aria-label="Next" class="glider-next") »
        div(role="tablist" class="dots")