//- Slider 

div.glider-contain.multiple
    div.glider
        +slider-cards-generator("../images/image1.jpg", "Death Note (2006)", 4)
        +slider-cards-generator("../images/image2.png", "Death Note (2006)", 2)
        +slider-cards-generator("../images/image3.jpg", "Death Note (2006)", 4)
        +slider-cards-generator("../images/image4.jpg", "Death Note (2006)", 5)
        +slider-cards-generator("../images/image5.jpg", "Death Note (2006)", 3)
        +slider-cards-generator("../images/image6.jpg", "Death Note (2006)", 1)
        +slider-cards-generator("../images/image7.jpg", "Death Note (2006)", 3)
        +slider-cards-generator("../images/image8.jpg", "Death Note (2006)", 5)
        +slider-cards-generator("../images/image3.jpg", "Death Note (2006)", 3)
        +slider-cards-generator("../images/image4.jpg", "Death Note (2006)", 4)
        +slider-cards-generator("../images/image5.jpg", "Death Note (2006)", 4)
        +slider-cards-generator("../images/image6.jpg", "Death Note (2006)", 3)
        +slider-cards-generator("../images/image7.jpg", "Death Note (2006)", 5)
        +slider-cards-generator("../images/image8.jpg", "Death Note (2006)", 1)
    //- button(role="button" aria-label="Previous" class="glider-prev") «
    //- button(role="button" aria-label="Next" class="glider-next") »
    div(role="tablist" class="dots")



        