nav
    ul.nav.wrapper
        li.logo
            a(href="#")
                img(src="../images/logo.svg", alt="")
        li.primary-nav
            a(href="#") Subbed
            a(href="#") Dubbed
            button genre
        li.search-container
            form.search
                input(type="text" placeholder="search")#search-bar
                button#search-btn 
                    img(src="../images/search.svg", alt="")
        li.secondry-nav
            a(href="#").button Login
            a(href="#").button Sign Up

        li.mobile
            a#menu-btn
                img(src="../images/menu.svg", alt="")
            div.popup-menu
                div.popup-wrapper

                    a(href="#").link Subbed
                    //- ul.sub-mobile-nav
                    //-     li
                    //-         a(href="#") Hello
                    //-     li
                    //-         a(href="#") Products
                    //-     li
                    //-         a(href="#") Services
                    //-     li
                    //-         a(href="#") About

                    a(href="#").link Dubbed
                    //- ul.sub-mobile-nav
                    //-     li
                    //-         a(href="#") World
                    //-     li
                    //-         a(href="#") Products
                    //-     li
                    //-         a(href="#") Services
                    //-     li
                    //-         a(href="#") About

                    a(href="#").link.sub-mobile-links Genre <svg xmlns="http://www.w3.org/2000/svg" id="carret" width="100%" height="100%" viewBox="0 0 19.999 13.026"><path d="M-15.21-37.3l.2-.2,6.973,6.973L-1.066-37.5l.2.2-7.171,7.171Z" transform="translate(18.038 40.328)" fill="#17141D" stroke="#17141D" stroke-width="4"/></svg>
                    ul.sub-mobile-nav
                        li
                            a(href="#") Home
                        li
                            a(href="#") Products
                        li
                            a(href="#") Services
                        li
                            a(href="#") About
                    div.register
                        a(href="#").button Login
                        a(href="#").button Sign Up
                a#close-btn <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 25.063 20.927"><g transform="translate(-1425.974 -2406.52)"><line x2="22.011" y2="16.967" transform="translate(1427.5 2408.5)" fill="none" stroke="#fff" stroke-width="5"/><path d="M0,16.967,22.011,0" transform="translate(1427.5 2408.5)" fill="none" stroke="#fff" stroke-width="5"/></g></svg>
                            
                

    

    
